
  # Frontend Angular
  university-frontend:
    build:
      context: ./university-frontend
      dockerfile: Dockerfile
    container_name: university_frontend
    environment:
      API_URL: ${FRONTEND_API_URL:-http://localhost:5000/api}
      AUTH_URL: ${FRONTEND_AUTH_URL:-http://localhost:5063/api}
    ports:
      - "4200:80"
    depends_on:
      - university-api
      - auth-service
    networks:
      - university-network
    restart: unless-stopped
